/* Reset some default styles to make styling more consistent across browsers */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Apply a basic style to the body for better readability */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* Style the main content container */
main {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style the headings */
h1 {
    font-size: 28px;
    color: #333;
    margin-bottom: 10px;
}

hr {
    border: 0;
    height: 1px;
    background-color: #ddd;
    margin-bottom: 20px;
}

/* Style the form */
form {
    margin-top: 20px;
}

/* Style the input fields */
input[type="text"],
input[type="file"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Style the submit button */
input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Style the back link */
a {
    display: inline-block;
    margin-top: 20px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    background-color: #3498db;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #2980b9;
}

/* Style the delete confirmation page */
.confirmation-page {
    text-align: center;
    margin-top: 50px;
}

/* Style the delete button */
.confirmation-page form input[type="submit"] {
    background-color: #f44336;
}

/* Style the images in the product detail page */
.img img {
    width: 30px; /* Adjust the size as needed */
    height: 30px; /* Adjust the size as needed */
    margin-right: 10px;
    cursor: pointer;
}
