<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/music-style.css">
</head>
<body>
	<h2>楽曲一覧</h2>
	<table border="1" class="music-table">
		<tr>
			<th></th>
			<th>曲名</th>
			<th>作曲名</th>
		</tr>
		<tr th:each="music : ${model_list}">
			<td th:text="${music.song_id}"></td>
			<td th:text="${music.song_name}"></td>
			<td th:text="${music.singer}"></td>
		</tr>
	</table>
	<h1>SD3E 南　瑚太郎</h1>
</body>
</html>